This is the new form page, to create new recipes.

  <body>
    <form action="/recipes" method="post">
      <br><br>
      Recipe Name: <input id="name" name="name"></input>
      <br><br>
      Recipe Ingredients:
      <br>
      <textarea id="ingredients" name="ingredients"></textarea>
      <br><br>
      Cook Time: <input id="cook_time" name="cook_time"></input>
      <br><br>
      <input id="submit" type="submit" value="submit">
    </form>
  </body>
